apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: registry-data
  namespace: hanzo
  labels:
    app: registry
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: do-block-storage
  resources:
    requests:
      storage: 50Gi
