apiVersion: v1
kind: Service
metadata:
  name: registry
  namespace: hanzo
  labels:
    app: registry
spec:
  selector:
    app: registry
  ports:
    - port: 5000
      protocol: TCP
      targetPort: 5000
  type: ClusterIP
